[Desktop Entry]
Type=Application
Version=1.0
Name=ITUSB2 Manager
Icon=itusb2-mngr
Exec=itusb2-mngr
Terminal=false
Categories=Development;Electronics;
